body {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-mid {
    align-items: center;
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

input, button, li {
    margin: 0 1rem;
}

.todo-container {
    border: 1px solid gray;
}